<section class="contentBox" ngCloak data-ng-controller="individualProfileController" data-ng-init="init()">
    <h1 class="moniker heading1">{{randomProfile.moniker}}</h1>

    <h2 class="category heading2">{{randomProfile.category1}}</h2>

    <p class="dates">{{randomProfile.death}} - {{randomProfile.birth}}. ({{randomProfile.age}})</p>
    <img class="photoLink thumb"
         data-ng-src="{{randomProfile.photoLink}}">

    <div class="details">

      <p class="bio clear">{{randomProfile.bio}}</p>

      <p><strong>Born:</strong> {{randomProfile.firstName}} {{randomProfile.middleName}} {{randomProfile.lastName}}
      </p>

      <p><strong>Cause of death:</strong> {{randomProfile.howDied}}</p>

      <p><strong>Burial site details:</strong>

      <p>{{randomProfile.burialFacility}}</p>

      <p>{{randomProfile.burialAddy}}</p>

      <p>{{randomProfile.burialCity}}, {{randomProfile.burialState}}. {{randomProfile.burialZIP}}</p>
      <!-- <div class="location" data-google-map-directive></div> -->
    </div>

    <section class="mapBox cf clear">
      <div class="split floatLeft">
        <h1 class="heading2 caption">Visit this celebrity</h1>
      </div>
      <div class="split floatRight">
        <div class="floatRight" data-google-map-directive></div>
      </div>
    </section>

</section>
